.about {
  font-family: $font-texts;
  padding-top: 9rem;

  &__heading {
    text-align: center;
    font-size: $heading-font-size;
    padding: 3rem 0;
  }

  &__content {
    display: flex;
    padding: 4rem;
    font-size: $default-font-size;
    margin: 3rem;
    text-align: center;
    height: 75vh;
  }

  &__img {
    width: 50%;
  }

  &__para {
    margin: 3rem;
    width: 50%;
  }
}
