.home {
  background-color: $color-tertiary;
  font-family: $font-texts;
  height: 85vh;

  &__heading {
    text-align: center;
    font-size: $heading-font-size;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    padding: 4rem;
    font-size: $default-font-size;
    margin: 3rem;
    text-align: center;
  }

  &__img {
    width: 50%;
  }

  &__para {
    margin: 3rem;
    width: 50%;
  }
}
