.wildlife {
  font-family: $font-texts;
  padding-top: 9rem;

  &__heading {
    text-align: center;
    font-size: $heading-font-size;
    padding: 3rem 0;
  }

  &__pic-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    margin-top: 1rem;
    height: 90%;
    width: 70%;
  }

  &__content {
    display: flex;
    padding: 4rem;
    font-size: $default-font-size;
    margin: 3rem;
    text-align: center;
    height: 65vh;
  }

  &__img {
    height: 100%;
    width: 100%;
    border: 2px solid $color-accent;
  }

  &__para {
    font-size: $default-font-size;
    font-family: $font-texts;
    padding: 1rem;
  }
}
