.main {
  background-color: $color-white;
  height: 90vh;
  display: flex;
}

.main__img {
  width: 40%;
  margin: 3rem;
}

.main__para {
  width: 50%;
  margin: 3rem;
  font-size: $default-font-size;
}
