// colours
$color-primary: #33a103;
$color-secondary: #5dd993;
$color-tertiary: #f0fdf0;

$color-accent: #bce606;

$color-white: #ffff;
$color-black: #0000;

// font
$default-font-size: 2rem;
$heading-font-size: 6rem;
$font-texts: 'Roboto', sans-serif;

body {
  background-color: $color-tertiary;
}
