* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 620px) {
  * body {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
}

.header {
  background-color: #33a103;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #4405b9;
}
.header__heading {
  font-size: 3rem;
  color: #ffff;
  margin-right: auto;
  margin-left: 1rem;
}

.nav {
  width: 60%;
  height: 100%;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  list-style: none;
  width: 100%;
  color: #ffff;
  font-size: 2rem;
  text-decoration: none;
}
.nav__a:hover {
  color: #4405b9;
}

.footer {
  background-color: #33a103;
  height: 5rem;
  border-top: 2px solid #4405b9;
  display: flex;
}
.footer__para {
  margin: 1rem;
  font-size: 2rem;
  color: #ffff;
}

.home {
  background-color: #f0fdf0;
  font-family: "Roboto", sans-serif;
  height: 85vh;
}
.home__heading {
  text-align: center;
  font-size: 6rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.home__content {
  display: flex;
  padding: 4rem;
  font-size: 2rem;
  margin: 3rem;
  text-align: center;
}
.home__img {
  width: 50%;
}
.home__para {
  margin: 3rem;
  width: 50%;
}