* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 620px) {
  * body {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0fdf0;
}

.header {
  background-color: #33a103;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #bce606;
  position: fixed;
}
.header__heading {
  font-size: 3rem;
  color: #ffff;
  margin-right: auto;
  margin-left: 1rem;
  font-size: 6rem;
}

.nav {
  width: 60%;
  height: 100%;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  list-style: none;
  width: 100%;
  color: #ffff;
  font-size: 2rem;
  text-decoration: none;
}
.nav__item:hover {
  color: #bce606;
}

.footer {
  background-color: #33a103;
  height: 5rem;
  border-top: 2px solid #bce606;
  display: flex;
}
.footer__para {
  margin: 1rem;
  font-size: 2rem;
  color: #ffff;
}

.home {
  font-family: "Roboto", sans-serif;
  padding-top: 9rem;
}
.home__heading {
  text-align: center;
  font-size: 6rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.home__content {
  display: flex;
  padding: 4rem;
  font-size: 2rem;
  margin: 3rem;
  text-align: center;
  height: 75vh;
}
.home__img {
  width: 50%;
}
.home__para {
  margin: 3rem;
  width: 50%;
}

.wildlife {
  font-family: "Roboto", sans-serif;
  padding-top: 9rem;
}
.wildlife__cont {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin-top: 1rem;
  height: 50%;
}
.wildlife__boxes {
  margin: 0.5rem;
  width: 90%;
  height: 100%;
  padding: 1rem;
}
.wildlife__img {
  height: 90%;
  width: 100%;
  border: 2px solid #bce606;
}
.wildlife__para {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}